// Dark Theme
$body-bg: #74BB3A;
$app-width: 100%;
$text-color: #FFF;
$popcorn-blue: #286DC4;

$maincolor:#2e323b;
$header-color:#efeff1;
$side-menu:#2e323b;

// Commons elements
$header_height: 45px;
$notification_height: 45px;
